@mixin neumorphism {
    background: #1f73ef;
    box-shadow: inset 8px 8px 10px #1c68d7,
            inset -8px -8px 10px #227fff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: #1f73ef;
    .logo {
        margin: 50px 20px;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        @include neumorphism;
        a {
            width: 80px;
            height: 80px; 
        }
    }
    .download {
        margin: 45px 20px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        @include neumorphism;
        svg {
            width: 50px;
            height: 50px; 
        }
    }
    .logo, .download {
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    header {
        flex-direction: row;
        height: auto;

        .logo, .download {
            width: 70px;
            height: 70px;
            margin: 15px 20px;
            a {
                height: 50px;
                width: 50px;
            }
        }
    }
}
